.bolao-fla {
    width: 100%;
    background: var(--linear-red-fla);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    padding: 20px;
    gap: 15px;
}

.bolao-fla h2 {
    text-align: center;
    font-size: 22px;
}

.bolao-fla p {
    text-align: center;
}

#btn-bolao-fla {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 10px 0px;
    border: 1px solid var(--white-fla);
    border-radius: 15px;
    background: transparent;
    color: var(--white-fla);
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#btn-bolao-fla:hover {
    border-color: var(--black-fla);
    background-color: var(--black-fla);
}

#btn-bolao-fla:active {
    transform: scale(0.9);
}