main {
    margin-top: 100px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 40px;
}

main .container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

/* Container que guarda a lista de cards gerados pelo JS */
#products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px; 
}
